@import '~bootstrap/scss/bootstrap';

$yellow : #FD7900;

@font-face {
  font-family: "Acrom-Bold";
  src: url(./Fonts/Acrom-Bold.ttf);
}

@font-face {
  font-family: "Acrom-Regular";
  src: url(./Fonts/Acrom-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acrom-Regular";

  a{
    text-decoration: none;
  }

  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
    }
  }
}

.container{
  max-width: 1270px;
}


.Navbar{
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 30px 0;
  .nav-body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
      align-items: center;
      display: flex;
      gap: 30px;

      li{
        a{
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }

    select{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 39px;
      border: 2px solid #FFFFFF;
      border-radius: 40px;
      background: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }

  }
}

.Homehead{
  margin-bottom: 120px;
  .carusel{
    .carusel-item{
      img{
        height: 90vh;
        object-fit: cover;
      }
      .carusel-caption{
        bottom: 37%;

        h3{
          font-family: "Acrom-Bold";
          font-weight: 700;
          font-size: 56px;
          line-height: 67px;
          text-transform: capitalize;
          color: #FD7900;
        }

        p{
          font-family: 'Acrom-Bold';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
        }
      }
    }
  }
}

.ToursCards{
  .row{
    h2{
      font-family: "Acrom-Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      color: #060606;
      margin-bottom: 40px;
    }
    .card{
      .card-body{
        .d-flex{
          gap: 10px;
        }

        h3{
          font-family: "Acrom-bold";
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          text-transform: capitalize;
          color: #060606;
        }
      }
    }
  }
}
